* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.note {
    background: yellow;
    padding: 5px;
}

.note h4 {
    text-align: center;
}

.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
}

.navbar {
    display: flex;
    background-color: #333;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar li {
    display: inline-block;
}

.navbar ul {
    padding-left: 0px;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.side {
    /*flex: 30%;*/
    background-color: #f1f1f1;
    padding: 20px;
}

.main {
    /*flex: 70%;*/
    background-color: white;
    padding: 20px;
}

.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.bigimg {
    height: 200px;
}

.bigimg img {
    width: 100%;
    height: 100%;
}

.smallimg {
    height: 60px;
    background-image: url(https://picsum.photos/700/200);
    background-size: 100%;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

/*@media screen and (max-width: 700px) {
    .content, .navbar {
        flex-direction: column;
    }
}*/

/* breakpoints: 600, 768, 992, 1200 */

[class*="col-"] {
    width: 100%;
}

@media screen and (min-width: 600px) {
    .col-a-1 {
        width: 8.33%;
    }

    .col-a-2 {
        width: 16.66%;
    }

    .col-a-3 {
        width: 25%;
    }

    .col-a-4 {
        width: 33.33%;
    }

    .col-a-5 {
        width: 41.66%;
    }

    .col-a-6 {
        width: 50%;
    }

    .col-a-7 {
        width: 58.33%;
    }

    .col-a-8 {
        width: 66.66%;
    }

    .col-a-9 {
        width: 75%;
    }

    .col-a-10 {
        width: 83.33%;
    }

    .col-a-11 {
        width: 91.66%;
    }

    .col-a-12 {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .col-b-1 {
        width: 8.33%;
    }

    .col-b-2 {
        width: 16.66%;
    }

    .col-b-3 {
        width: 25%;
    }

    .col-b-4 {
        width: 33.33%;
    }

    .col-b-5 {
        width: 41.66%;
    }

    .col-b-6 {
        width: 50%;
    }

    .col-b-7 {
        width: 58.33%;
    }

    .col-b-8 {
        width: 66.66%;
    }

    .col-b-9 {
        width: 75%;
    }

    .col-b-10 {
        width: 83.33%;
    }

    .col-b-11 {
        width: 91.66%;
    }

    .col-b-12 {
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .col-c-1 {
        width: 8.33%;
    }
    
    .col-c-2 {
        width: 16.66%;
    }
    
    .col-c-3 {
        width: 25%;
    }
    
    .col-c-4 {
        width: 33.33%;
    }
    
    .col-c-5 {
        width: 41.66%;
    }
    
    .col-c-6 {
        width: 50%;
    }
    
    .col-c-7 {
        width: 58.33%;
    }
    
    .col-c-8 {
        width: 66.66%;
    }
    
    .col-c-9 {
        width: 75%;
    }
    
    .col-c-10 {
        width: 83.33%;
    }
    
    .col-c-11 {
        width: 91.66%;
    }
    
    .col-c-12 {
        width: 100%;
    }  
}

@media screen and (min-width: 992px) {
    .col-c-1 {
        width: 8.33%;
    }
    
    .col-c-2 {
        width: 16.66%;
    }
    
    .col-c-3 {
        width: 25%;
    }
    
    .col-c-4 {
        width: 33.33%;
    }
    
    .col-c-5 {
        width: 41.66%;
    }
    
    .col-c-6 {
        width: 50%;
    }
    
    .col-c-7 {
        width: 58.33%;
    }
    
    .col-c-8 {
        width: 66.66%;
    }
    
    .col-c-9 {
        width: 75%;
    }
    
    .col-c-10 {
        width: 83.33%;
    }
    
    .col-c-11 {
        width: 91.66%;
    }
    
    .col-c-12 {
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .col-d-1 {
        width: 8.33%;
    }
        
    .col-d-2 {
        width: 16.66%;
    }
        
    .col-d-3 {
        width: 25%;
    }
        
    .col-d-4 {
        width: 33.33%;
    }
        
    .col-d-5 {
        width: 41.66%;
    }
        
    .col-d-6 {
        width: 50%;
    }
        
    .col-d-7 {
        width: 58.33%;
    }
        
    .col-d-8 {
        width: 66.66%;
    }
        
    .col-d-9 {
        width: 75%;
    }
        
    .col-d-10 {
        width: 83.33%;
    }
        
    .col-d-11 {
        width: 91.66%;
    }
        
    .col-d-12 {
        width: 100%;
    }
}